/* This is where custom CSS will go */
html {
    height: 100%;
    width: 100%;
  }
  
body{
    min-height: 100vh;
}

#pagewidth {
  min-height: 100vh;
  overflow: hidden;
}

#footer-section {
    width: 100%;
  }

.footercontent {
    width: 100%;
}

.navbar{
    transition-duration: .5s;
    }
  
.scroll-top .navbar{  
    transition-duration: .5s;
  }
  
.nav-item{
    /* invisible border so nav links don't jostle when border appears */
    box-sizing:border-box;
    border: 2px solid;
    border-radius: 25%;
  }

.card{
    height: 100%;
    min-width: 84px;
  }

.gofundmobile{
    max-height: 100px;
}

.link-card:link {
  /* Removes underline from the link text in the link card */
  text-decoration: none;
}

#testiomonialsTab{
  background-color: #333;
  color: whitesmoke;
}

.carousel-inner{
  height: 200px;
}

.carousel-item{
  height: 100%;
}

.carousel-caption p{
  margin-bottom: 0px;
  overflow-y: auto;
  max-height: 165px;
  color: whitesmoke;
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-control-prev-icon {
  filter: invert(0) !important;
}

.carousel-control-next-icon {
  filter: invert(0) !important;
}

.carousel-indicators button {
  filter: invert(1) !important;
}

.headerimg {
  filter: invert(1);
}

iframe {
  filter: invert(.9) saturate(0.5) hue-rotate(145deg);
}

.body-section {
  background-color: rgba(0,0,0,.7);
  color: whitesmoke;
  text-align: center;
}

.home {
  background: url(assets/richmond1.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.about {
  background: url(assets/richmond2.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.events {
  background: url(assets/richmond3.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.contact {
  background: url(assets/richmond4.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.article {
  background: url(assets/richmond5.jpg);
  background-attachment: fixed;
  background-size: cover;
}

@media (hover: hover){
    .nav-item:hover{
    /* border appears on nav links on hover to make it extra obvious they're clickable */
      border: 2px solid whitesmoke;
      border-radius: 25%;
    }
  
    /* No hover effects so they don't get stuck on tap w/touchscreen */
    .link-card:hover{
      background-color: rgba(46, 46, 46, 1);
      color: whitesmoke;
    }
  
    /* Colored in home icon on hover */
    .navbar-brand:hover .bi-suit-heart:before {
      content: "\F59D";
    }

  }